---
layout: default
title: Home
---

<div class="posts">
  <h1 class="page-title">About</h1>
  <p>I am Rohit, currently working as a Software Developer at <a href="http://www.vakantiediscounter.nl" target="_blank">VakantieDiscounter</a>
  in Amsterdam. I have experience in developing for the web, mobile and cloud
  based distributed applications. I also have experience in developement of
  scalable storage for big data and parallel numerical simulations using MPI
  libraries. I have developed in Scala, Clojure, Haskell, Java, Ruby, Python,
  JavaScript, C++, Bash and Fortran.</p>

  <p>I consider myself as language and technology agnostic. I could be contacted via
  <a href="mailto:aerohit.saxena@gmail.com">email</a>.</p>


  <!--{% for post in paginator.posts %}-->
  <!--<div class="post">-->
    <!--<h2 class="post-title">-->
      <!--<a href="{{ post.url }}">-->
        <!--{{ post.title }}-->
      <!--</a>-->
    <!--</h2>-->

    <!--<span class="post-date">{{ post.date | date_to_string }}</span>-->

    <!--[>{{ post.content }}<]-->
  <!--</div>-->
  <!--{% endfor %}-->
<!--</div>-->

<!--<div class="pagination">-->
  <!--{% if paginator.next_page %}-->
    <!--<a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>-->
  <!--{% else %}-->
    <!--<span class="pagination-item older">Older</span>-->
  <!--{% endif %}-->
  <!--{% if paginator.previous_page %}-->
    <!--{% if paginator.page == 2 %}-->
      <!--<a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>-->
    <!--{% else %}-->
      <!--<a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>-->
    <!--{% endif %}-->
  <!--{% else %}-->
    <!--<span class="pagination-item newer">Newer</span>-->
  <!--{% endif %}-->
</div>
