<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">{{ site.title }}</a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <br/>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/">About</a>
      <a class="sidebar-nav-item" href="/scribbles">Scribbles</a>
      <a class="sidebar-nav-item" href="mailto:aerohit.saxena@gmail.com" target="_top">Send Mail</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}" target="_blank">GitHub</a>
    </nav>

  </div>
  <div class="container sidebar-sticky">
    <small>Hosted on <a href="https://pages.github.com/" target="_blank">Github Pages</a>.</small>
    <br/>
    <small>Built using <a href="http://getpoole.com/" target="_blank">Poole</a>.</small>
    <br/>
    <small>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</small>
  </div>
</div>
